body{
    color: #444655;
}

.container-div{
    margin: 10px;
}

#leave-count{
    color: #007BFF;
}

#errMessage-div{
    color: red;
    font-weight: bold;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.main-label{
    font-weight: bolder;
}

.radio-label{
    margin-left: 10px;
}

.requiredField{
    color: red;
}

#leaveType-div, #dayType-div, #leaveFrom-div, #leaveTo-div, #reason-div, #submit-btn, #cancel-btn{
    margin: 50px 50px 0 50px;
    white-space: nowrap;
}

#leaveType-div input, #dayType-div input{
    margin-left: 40px;
}

#btn-div{
    display: grid;
    grid-template-columns: 210px 210px;
}

#submit-btn{
    background-color: #007BFF;
    color: white;
    width: 200px;
    font-weight: bold;
}